/*
Color Palette 
#c2f970 Green
#44344f Dark Purple
#564d80 Ultra Violet
#98a6d4 Light Blue
#d3fcd5 Tea Green
*/

h1, h2, h3 {
    text-align: center;
    color:rgb(41, 41, 41);
}

p {
    color:rgb(41, 41, 41);
}

.pagination {
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin: 20pt auto 0 auto;
    list-style: none;
    user-select: none;
    gap: 10pt;
}
.pagination > li {
    background-color: #3e98ff;
    border-radius: 5pt;
    cursor: pointer;
    padding: 5pt 0;
}
.pagination > li:hover {
    background-color: #305e9b;
}
li:has(.pagselected) {
    background-color: #0073ff;
}
.pagination > li > a {
    padding:5pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#searchbox {
    width: 256pt;
    height: 20pt;
    font-size: medium;
}

.image {
    border: solid rgb(116, 116, 116) medium;
    box-shadow: 0 3pt 5pt gray;
    border-radius: 5pt;
    background-color: #dddddd;
    height: auto;
}

.linkbutton {
    background-color: transparent;
    border:none;
    color:rgb(26, 26, 26);
    cursor: pointer;
    background-color: transparent;
    animation:none;
    
}

.linkbutton:hover {
    color:#4596ff;
    font-weight: bold;
    background-color: transparent;
    animation:none;
}

body {
    background-color: #ffffff;
    color:rgb(37, 37, 37);
    font-family: 'helvetica'
}

.topfiverentallisting {
    padding: 20pt;
}

.titleHeader {
    color:rgb(224, 224, 224);
}

.container {
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

table, td, th {
    color:rgb(0, 0, 0);
    border-color:rgb(80, 80, 80);
    border-width: 1px;
    border-spacing: 0;
    
    th {
        color: rgb(0, 72, 131);
        background-color: #96c3ff;
    }
}

table {
    background-color: #8593a1;
}
tr {
    height: 2em;
}
tr:nth-child(odd){
    background-color: #c7c7c7;
    animation: TRBlueOut 0.2s;
}
tr:nth-child(even) {
    background-color: #e0e0e0;
    animation: TRBlueOut 0.2s;
}
tr:hover{
    background-color: #b9d7ff;
    animation: TRBlueIn 0.2s;
}

@keyframes TRBlueIn {
    0% {background-color: auto;};
    100% { background-color: #94a9c4; };
}
@keyframes TRBlueOut {
    0% { background-color: #94a9c4; };
    100% {background-color: auto;};
}

#splash {
    background-color: #f0f2f6;
    width: 75%;
    margin: auto;
    margin-top: 24pt;
    padding: 30pt;
    border-radius: 5pt;
    box-shadow: 0pt 3pt 10pt rgb(158, 158, 158);
}

.popup-content {
    background-color: #a9c7ffe1;
    animation: FadeIn 0.25s;
    width: 30%;
    padding: 20pt 50pt 45pt;
    border-radius: 5pt;
}
.popup-overlay {
    background-color: rgba(70, 70, 70, 0.5);
    animation: FadeIn 0.25s;
  }

.close {
    cursor: pointer;
    position: absolute;
    top:5pt;
    right:5pt;
    border-radius:10pt;
    width:25pt;
    background-color: #ffffff;
    height:25pt;
}

@keyframes FadeIn {
    0% { opacity: 0; };
    100% { opacity: 1; };
}

button {
    border-radius: 10pt;
    padding: 5pt;
    background-color: #e6e6e6;
    cursor: pointer;
    animation: ButtonBlueOut 0.2s;
}

button:hover {
    background-color: #84b9ff;
    animation: ButtonBlueIn 0.2s;
}

@keyframes ButtonBlueIn {
    0% {background-color: #e6e6e6;};
    100% { background-color: #84b9ff; };
}
@keyframes ButtonBlueOut {
    0% { background-color: #84b9ff; };
    100% {background-color: #e6e6e6;};
}

button:disabled {
    background-color: #9b9b9b;
    cursor: not-allowed;
}

input[type='text'], input[type='number'], select {
    padding: 5pt;
    border-radius: 10pt;
}
