/*
Color Palette 
#c2f970 Green
#44344f Dark Purple
#564d80 Ultra Violet
#98a6d4 Light Blue
#d3fcd5 Tea Green
*/

h1, h2, h3 {
    text-align: center;
    color:rgb(224, 224, 224);
}

p {
    color:rgb(224, 224, 224);
}



.pagination {
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin: 20pt auto 0 auto;
    list-style: none;
    user-select: none;
    gap: 10pt;
}
.pagination > li {
    background-color: #84b9ff;
    border-radius: 2pt;
    cursor: pointer;
    padding: 5pt 0;
}
.pagination > li:hover {
    background-color: #4386dd;
}
li:has(.pagselected) {
    background-color: #2483ff;
}
.pagination > li > a {
    padding:5pt;
}

#searchbox {
    width: 256pt;
    height: 20pt;
    font-size: medium;
}

body {
    background-color: #24272b;
    color:rgb(224, 224, 224);
}

.topfiverentallisting {
    padding: 20pt;
}

.titleHeader {
    color:rgb(224, 224, 224);
}

.container {
    display: flex;
    flex-direction: row;
}

hr {
    color: black;
}

table, td, th {
    color:rgb(224, 224, 224);
    border-color:rgb(224, 224, 224);
}

#splash {
    background-color: #4a525a;
    width: 75%;
    margin: auto;
    margin-top: 24pt;
    padding: 30pt;
    border-radius: 5pt;
}